.header {
    background: #222;
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 16px;

    color: #fff;
    text-transform: uppercase;
}

.header Button {
    float: right;
    margin-left: 10px;
}

.header img  {
    height: 35px;
    background: #ff7f7f;

    position: absolute;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.Modal {
    position: absolute;
    top: 200px;
    left: 700px;
    right: 700px;
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  